<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>实体文件</title>
<!-- 引入的css文件  -->
<link rel="stylesheet" type="text/css" th:href="@{/Bootstrap/style.css}" />
<link th:href="@{/Bootstrap/bootstrap.min.css}" rel="stylesheet" />
<!-- 引入的js文件 -->
<script th:src="@{/Bootstrap/jquery-1.9.1.min.js}"></script>
<script th:src="@{/Bootstrap/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="box">
		<div class="container">
			<table class="table table-striped">
				<tr>
					<th class="col-md-1">属性名称</th>
					<th class="col-md-1">数据类型</th>
					<th class="col-md-1">创建时间</th>
					<th class="col-md-1">更新时间</th>
					<th class="col-md-1">状态</th>
					<th class="col-md-1">删除标识</th>

				</tr>
				<!--Thymeleaf迭代语句each  -->
				<tr th:each="obj : ${list}">
					<td th:text="${obj.propertyName}"></td>
					<td th:text="${obj.propertyType}"></td>
					<td th:text="${#dates.format(obj.createDt,'yyyy-MM-dd')}"></td>
					<td th:text="${#dates.format(obj.updateDt,'yyyy-MM-dd')}"></td>
					<!--Thymeleaf 判断语句:if 和 switch  -->
					<td th:if="${obj.state} == 1" th:text="启用"></td>
					<td th:if="${obj.state} == 2" th:text="禁用"></td>

					<td th:if="${obj.deleteFlag} == 1" th:text="未删除"></td>
					<td th:if="${obj.deleteFlag} == 2" th:text="已删除"></td>

				</tr>
			</table>
		</div>
	</div>
</body>
</html>