<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzg.mapper.TableMapper">
  <resultMap id="BaseResultMap" type="com.zzg.entity.Table">
    <id column="sid" jdbcType="VARCHAR" property="sid" />
    <result column="name_" jdbcType="VARCHAR" property="name" />
    <result column="comment_" jdbcType="VARCHAR" property="comment" />
    <result column="create_dt" jdbcType="TIMESTAMP" property="createDt" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_dt" jdbcType="TIMESTAMP" property="updateDt" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="delete_flag" jdbcType="VARCHAR" property="deleteFlag" />
    <result column="code_" jdbcType="VARCHAR" property="code" />
    <result column="entity_" jdbcType="VARCHAR" property="entity" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ucas_bus_table
    where sid = #{sid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zzg.entity.Table">
    insert into ucas_bus_table (sid, name_, comment_, 
      create_dt, create_by, update_dt, 
      update_by, version, `state`, 
      delete_flag, code_, entity_)
    values (#{sid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR}, 
      #{createDt,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{updateDt,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{version,jdbcType=INTEGER}, #{state,jdbcType=VARCHAR}, 
      #{deleteFlag,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{entity,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zzg.entity.Table">
    update ucas_bus_table
    set name_ = #{name,jdbcType=VARCHAR},
      comment_ = #{comment,jdbcType=VARCHAR},
      create_dt = #{createDt,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_dt = #{updateDt,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      version = #{version,jdbcType=INTEGER},
      `state` = #{state,jdbcType=VARCHAR},
      delete_flag = #{deleteFlag,jdbcType=VARCHAR},
      code_ = #{code,jdbcType=VARCHAR},
      entity_ = #{entity,jdbcType=VARCHAR}
    where sid = #{sid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select sid, name_, comment_, create_dt, create_by, update_dt, update_by, version, 
    `state`, delete_flag, code_, entity_
    from ucas_bus_table
    where sid = #{sid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select sid, name_, comment_, create_dt, create_by, update_dt, update_by, version, 
    `state`, delete_flag, code_, entity_
    from ucas_bus_table
  </select>
  
  <!--通用单表数据更新  -->
  <update id="updateDeleteFlag" parameterType="map">
  	update ucas_bus_table
  		<set>
  			<if test="state != null and  state != ''">
				`state` = #{state,jdbcType=VARCHAR},
			</if>
			<if test="deleteFlag != null and  deleteFlag != ''">
				delete_flag = #{deleteFlag,jdbcType=VARCHAR},
			</if>
			version = version + 1,
      		update_dt = now()
  		</set>
  		where 1 = 1 
  		<if test="sid != null and  sid != ''">
			and sid = #{sid,jdbcType=VARCHAR}
		</if>
		<if test="version !=null and version !=''">
			and version = #{version, jdbcType=INTEGER}
		</if>
  	</update>
  	
  	<update id="update" parameterType="com.zzg.entity.Table">
  		update ucas_bus_table
  			<set>
  				<if test="name != null and name != ''">
  					name_ = #{name,jdbcType=VARCHAR},
  				</if>
  				<if test="comment != null and comment != ''">
  					 comment_ = #{comment,jdbcType=VARCHAR},
  				</if>
  				<if test="code != null and code != ''">
  					 code_ = #{code,jdbcType=VARCHAR},
  				</if>
  				<if test="entity != null and entity != ''">
  					 entity_ = #{entity,jdbcType=VARCHAR},
  				</if>
  			</set>
  		where sid = #{sid,jdbcType=VARCHAR} and version = #{version, jdbcType=INTEGER}
  	
  	</update>
</mapper>