<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>表</title>
<!-- 引入的css文件  -->
<link rel="stylesheet" type="text/css" th:href="@{/Bootstrap/style.css}" />
<link th:href="@{/Bootstrap/bootstrap.min.css}" rel="stylesheet" />
<!-- 引入的js文件 -->
<script th:src="@{/Bootstrap/jquery-1.9.1.min.js}"></script>
<script th:src="@{/Bootstrap/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/Bootstrap/bootbox/js/bootbox.min.}"></script>
</head>
<body>
	<div class="box">
		<div class="container">
			<div clas="form-row">
				<div class="form-group col-md-6">
					<label for="name" class="col-sm-3 control-label">表名称</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="name"
							id="name" readonly="readonly" th:value="${entity?.name}"/>
					</div>
				</div>
				<div class="form-group col-md-6">
					<label for="name" class="col-sm-3 control-label">表名</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="code"
							id="code" readonly="readonly" th:value="${entity?.code}" />
					</div>
				</div>
			</div>
			<div clas="form-row">
				<div class="form-group col-md-6">
					<label for="name" class="col-sm-3 control-label">实体名称</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="entity"
							id="entity" readonly="readonly" th:value="${entity?.entity}"/>
					</div>
				</div>
				<div class="form-group col-md-6">
					<label for="name" class="col-sm-3 control-label">描述</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="comment"
							id="comment" readonly="readonly" th:value="${entity?.comment}"/>
					</div>
				</div>
			</div>
			
			<div class="export">
				<a href="#"
					class="btn btn-info btn-sm">已绑定字段</a>
			</div>
			<table class="table table-striped">
				<tr>
					<th class="col-md-1">名称</th>
					<th class="col-md-1">字段名称</th>
					<th class="col-md-1">数据类型</th>
					<th class="col-md-1">长度</th>
					<th class="col-md-1">精度</th>
					<th class="col-md-1">是否必填</th>
					<th class="col-md-1">是否主键</th>
					<th class="col-md-1">默认值</th>
					<th class="col-md-1">注释</th>
					<th class="col-md-2">操作</th>
				</tr>
				<!--Thymeleaf迭代语句each  -->
				<tr th:each="obj : ${bindColumns}">
					<td th:text="${obj?.name}"></td>
					<td th:text="${obj?.code}"></td>
					<td th:text="${obj?.type}"></td>
					<td th:text="${obj?.length}"></td>
					<td th:text="${obj?.decimal}"></td>
					<!--
					<td th:text="${obj?.required}"></td>  -->
					<td th:if="${obj.required} == 1" th:text="是"></td>
					<td th:if="${obj.required} == 2" th:text="否"></td>
					<!--
					<td th:text="${obj?.primary}"></td>  -->
					<td th:if="${obj.primary} == 1" th:text="是"></td>
					<td th:if="${obj.primary} == 2" th:text="否"></td>
					<td th:text="${obj?.defaultValue}"></td>
					<td th:text="${obj?.comment}"></td>
					<td><a th:href="@{/api/table/unbind(sid=${obj?.sid})}"
						class="btn btn-info btn-sm">解绑</a></td>
				</tr>
			</table>
			
			<div class="export">
				<a href="#"
					class="btn btn-info btn-sm">未绑定字段</a>
			</div>
			<table class="table table-striped">
				<tr>
					<th class="col-md-1">名称</th>
					<th class="col-md-1">字段名称</th>
					<th class="col-md-1">数据类型</th>
					<th class="col-md-1">长度</th>
					<th class="col-md-1">精度</th>
					<th class="col-md-1">是否必填</th>
					<th class="col-md-1">是否主键</th>
					<th class="col-md-1">默认值</th>
					<th class="col-md-1">注释</th>
					<th class="col-md-2">操作</th>
				</tr>
				<!--Thymeleaf迭代语句each  -->
				<tr th:each="obj : ${unbindColumns}">
					<td th:text="${obj?.name}"></td>
					<td th:text="${obj?.code}"></td>
					<td th:text="${obj?.type}"></td>
					<td th:text="${obj?.length}"></td>
					<td th:text="${obj?.decimal}"></td>
					<!--
					<td th:text="${obj?.required}"></td>  -->
					<td th:if="${obj.required} == 1" th:text="是"></td>
					<td th:if="${obj.required} == 2" th:text="否"></td>
					<!--
					<td th:text="${obj?.primary}"></td>  -->
					<td th:if="${obj.primary} == 1" th:text="是"></td>
					<td th:if="${obj.primary} == 2" th:text="否"></td>
					<td th:text="${obj?.defaultValue}"></td>
					<td th:text="${obj?.comment}"></td>
					<td>
						<!--多个参数值传递  --> 
						<a th:href="@{/api/table/bind(sid=${obj?.sid},busTableId=${entity?.sid},version=${obj?.version})}"
						class="btn btn-info btn-sm">绑定</a> 
					</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>