<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>业务对象表关联</title>
<!-- 引入的css文件  -->
<link th:href="@{/Bootstrap/bootstrap.min.css}" rel="stylesheet" />
<!-- 引入的js文件 -->
<script th:src="@{/Bootstrap/jquery-1.9.1.min.js}"></script>
<script th:src="@{/Bootstrap/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container">
			<table class="table table-striped">
				<tr>
					<th class="col-md-1">实体包名</th>
					<th class="col-md-1">实体对象</th>
					<th class="col-md-1">实体属性</th>
					<th class="col-md-1">属性类型</th>
					<th class="col-md-4">操作</th>
				</tr>
				<!--Thymeleaf迭代语句each  -->
				<tr th:each="obj : ${propertys}">
					<td th:text="${entity?.entityPackage}"></td>
					<td th:text="${entity?.entityObject}"></td>
					<td th:text="${obj.propertyName}"></td>
					<td th:text="${obj.propertyType}"></td>
					<td>
						<a th:href="@{/api/setting/banding-form(entityPackage=${entity?.entityPackage},entityObject=${entity?.entityObject},propertyName=${obj.propertyName},propertyType=${obj.propertyType},entityId=${entity?.sid},propertyId=${obj.sid})}"
						class="btn btn-info btn-sm">xml 字段映射</a>
					</td>
				</tr>
			</table>
			
		
		
	</div>
</body>
</html>