<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>业务对象表关联</title>
<!-- 引入的css文件  -->
<link rel="stylesheet" type="text/css" th:href="@{/Bootstrap/style.css}" />
<link th:href="@{/Bootstrap/bootstrap.min.css}" rel="stylesheet" />
<!-- 引入的js文件 -->
<script th:src="@{/Bootstrap/jquery-1.9.1.min.js}"></script>
<script th:src="@{/Bootstrap/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="box">
		<div class="container">
			<div clas="form-row">
				<div class="form-group col-md-4">
					<label for="name" class="col-sm-2 control-label">名称</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="name"
							id="name" readonly="readonly" th:value="${entity?.name}"/>
					</div>
				</div>
				<div class="form-group col-md-4">
					<label for="desc" class="col-sm-2 control-label">描述</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="desc"
							id="desc" readonly="readonly" th:value="${entity?.desc}" />
					</div>
				</div>
				<div class="form-group col-md-4">
					<label for="key" class="col-sm-2 control-label">唯一值</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="key"
							id="key" readonly="readonly" th:value="${entity?.key}" />
					</div>
				</div>
			</div>
			
			<div class="export">
				<a href="#"
					class="btn btn-info btn-sm">主表</a>
			</div>
			<table class="table table-striped">
				<tr>
					<th class="col-md-1">表名称</th>
					<th class="col-md-1">表名</th>
					<th class="col-md-1">实体名称</th>
					<th class="col-md-1">描述</th>
					<th class="col-md-4">操作</th>
				</tr>
				<!--Thymeleaf迭代语句each  -->
				<tr th:each="obj : ${master}">
					<td th:text="${obj.table.name}"></td>
					<td th:text="${obj.table.code}"></td>
					<td th:text="${obj.table.entity}"></td>
					<td th:text="${obj.table.comment}"></td>
					<td>
						 <a
						th:href="@{/api/object-relation/insertPage(busObjectId=${entity.sid},busTableId=${obj.table.sid})}"
						class="btn btn-info btn-sm">添加从表</a>
					</td>
				</tr>
			</table>
			
			<div class="export">
				<a href="#"
					class="btn btn-info btn-sm">从表</a>
			</div>
				<table class="table table-striped">
				<tr>
					<th class="col-md-1">表名称</th>
					<th class="col-md-1">表名</th>
					<th class="col-md-1">实体名称</th>
					<th class="col-md-1">描述</th>
					
					<th class="col-md-4">操作</th>
				</tr>
				<!--Thymeleaf迭代语句each  -->
				<tr th:each="obj : ${second}">
					<td th:text="${obj.table.name}"></td>
					<td th:text="${obj.table.code}"></td>
					<td th:text="${obj.table.entity}"></td>
					<td th:text="${obj.table.comment}"></td>
					
					<td>
						 <a th:href="@{/api/object-relation/delete(sid=${obj.sid})}"
						class="btn btn-info btn-sm">移除从表</a>
					</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>